.note-container {
  z-index: 10;
  /* border: 1px solid grey; */
  border-radius: 10px;
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.note-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  border-radius: 10px 10px 0 0;
  background-color: #cbf6e3;
}
.note-footer {
  height: 20px;
  /* border-top:  */
  border-top: 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  /* background-color: #a0eec0; */
}

.close-butt {
  padding-right: 5px;
  border: none;
  opacity: 0.5;
  background-color: #cbf6e3;
}

.save-butt {
  border-radius: 0 0 10px 0;
  height: 20px;
  border: none;
  opacity: 0.5;
  float: right;
}

.del-butt {
  border-radius: 0 0 0 10px;
  height: 20px;
  border: none;
  opacity: 0.5;
  float: left;
}

.note-content {
  padding: 15px;
  color: black;
  height: 150px;
  width: 300px;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.del-butt,
.save-butt {
  background-color: white;
}
